.resourses__logo {
  width: 270px;
  height: 38px;
  object-fit: contain;
  transition: opacity .2s linear;
}

.resourses__logo:hover {
  opacity: .7;
}

.resourses__logo-zone {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  width: 1100px;
  margin: 80px auto 0;
  padding: 0;
}
